<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">

            <div class="nav">

                <a class="nav-link active" routerLink="/alvara-lista">
                    <mat-icon>home</mat-icon>
                    Início
                </a>

                <div class="sb-sidenav-menu-heading">Config</div>
                <a class="nav-link active" routerLink="/preferencias-form">
                    <mat-icon>build</mat-icon>
                    Preferências
                </a>

            </div>

        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Usuário Autenticado:</div>
            kidsGreta
        </div>
    </nav>
</div>